<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <% include layout/navbar %>

    <div class="container-fluid">
	    <div role="tabpanel">
	    	<ul class="nav nav-tabs nav-justified" role="tablist">
	    		<li role="presentation" class="active"><a href="#streamTweets" role="tab" data-toggle="tab">Stream & Tweets</a></li>
				<li role="presentation"><a href="#streamParameters" role="tab" data-toggle="tab">Parameters</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="streamTweets">
					Tweets!
				</div>
				<div role="tabpanel" class="tab-pane" id="streamParameters">
					Parameters!
				</div>
			</div>
	    </div>
    </div>

    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>    
</body>

</html>